@mixin base-flex($direction, $justify, $align, $wrap)
{
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin font-style($size, $color, $line)
{
    font-size: $size;
    color: $color;
    line-height: $line;
}
