@import "../../styles/fonts";
@import "../../styles/colors";
@import "../../styles/theme";
@import "../../styles/breakpoints";

.container
{
  margin: 50px 0px;
  @include base-flex(row, center, center, nowrap);
  transition: 1s;
  position: relative;
}

.isList
{
  flex-direction: row-reverse;
}

.title
{
  @include base-flex(row, flex-end, center, nowrap);

  p
  {
    transition: 0.5s;
    @include font-bold;
    font-size: 50px;
    color: $primary-black;
  }
}

.second
{
  position: absolute;

  p
  {
    @include font-regular;
    font-size: 15px;
    transition: 0.5s;
    margin-top: 10px;
    color: $primary-black;
    opacity: 30%;
    padding: 5px;
    background-color: $third-grey;
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;

    &:active
    {
      opacity: 70%;
    }
  }
}

.to-right
{
  right: 5%;
}

.to-left
{
  left: 5%;
}


@include lg
{
  .title
  {
    p
    {
      font-size: 55px;
    }
  }

  .second
  {
    p
    {
      margin-top: 20px;
      font-size: 20px;
    }
  }
}

@include xm
{
  .title
  {
    p
    {
      font-size: 40px;
    }
  }

  .second
  {
    p
    {
      font-size: 13px;
    }
  }
}

@include xs
{

  .title
  {
    p
    {
      font-size: 30px;
    }
  }

  .second
  {
    top: -35px;
    p
    {
      font-size: 10px;
    }
  }
}
